<script setup lang="ts">
import { ref } from "vue";
const height = ref(0);
const weight = ref(0);
const result = ref(0);
function calBmi() {
  result.value = weight.value / (height.value / 100) ** 2;
}
</script>

<template>
  <div style="width: 700px; margin: auto">
    <h1>เครื่องคำนวณหาค่าดัชนีมวลกาย (BMI)</h1>
    <p>
      การหาค่าดัชนีมวลกาย (Body Mass Index : BMI)
      คือเป็นมาตรการที่ใช้ประเมินภาวะอ้วนและผอมในผู้ใหญ่ ตั้งแต่อายุ 20 ปีขึ้นไป
      สามารถทำได้โดยการชั่งน้ำหนักตัวเป็นกิโลกรัม และวัดส่วนสูงเป็นเซนติเมตร
      แล้วนำมาหาดัชมีมวลกาย โดยใช้โปรแกรมวัดค่าความอ้วนข้างต้น
    </p>
    <div>
      <label for="weight">น้ำหนักตัว (Kg.)</label>
      <input id="weight" v-model="weight" type="text" />
    </div>
    <div>
      <label for="height">ส่วนสูง (Cm.)</label>
      <input id="height" v-model="height" type="text" />
    </div>
    <div>
      <button @click="calBmi()">
        คำนวน
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-narrow-down"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="16" y1="15" x2="12" y2="19"></line>
          <line x1="8" y1="15" x2="12" y2="19"></line>
        </svg>
      </button>
    </div>
    <div class="bmi-box">
      <div class="center">BMI</div>
      <div class="center" style="font-size: 40px">{{ result.toFixed(2) }}</div>
    </div>

    <table>
      <tbody>
        <tr>
          <th>
            <strong>BMI kg/m<sup>2</sup></strong>
          </th>
          <th><strong>อยู่ในเกณท์</strong></th>
          <th><strong>ภาวะเสี่ยงต่อโรค</strong></th>
        </tr>
        <tr :class="{ 'focus-color': result < 18.5 }">
          <td>น้อยกว่า 18.50</td>
          <td>น้ำหนักน้อย / ผอม</td>
          <td>มากกว่าคนปกติ</td>
        </tr>
        <tr :class="{ 'focus-color': result >= 18.5 && result < 22.9 }">
          <td>ระหว่าง 18.50 - 22.90</td>
          <td>ปกติ (สุขภาพดี)</td>
          <td>เท่าคนปกติ</td>
        </tr>
        <tr :class="{ 'focus-color': result >= 23 && result < 24.9 }">
          <td>ระหว่าง 23 - 24.90</td>
          <td>ท้วม / โรคอ้วนระดับ 1</td>
          <td>อันตรายระดับ 1</td>
        </tr>
        <tr :class="{ 'focus-color': result >= 25 && result < 29.9 }">
          <td>ระหว่าง 25 - 29.90</td>
          <td>อ้วน / โรคอ้วนระดับ 2</td>
          <td>อันตรายระดับ 2</td>
        </tr>
        <tr :class="{ 'focus-color': result > 30 }">
          <td>มากกว่า 30</td>
          <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
          <td>อันตรายระดับ 3</td>
        </tr>
      </tbody>
    </table>

    <div class="bmi-desc" v-if="result < 18.5">
      <h2>น้ำหนักน้อยกว่ามาตรฐาน</h2>
      <p>
        คุณมีน้ำหนักน้อยหรือผอม โดยทั่วไป ค่าดัชนีมวลกายปกติมีค่าน้อยกว่า 18.50
      </p>
      <p>
        1. ควรกินอาหารให้หลากหลายครบ 5 หมู่ในสัดส่วนที่เหมาะสมและปริมาณมากขึ้น
        โดยเพิ่มอาหารประเภทที่ให้พลังงานมากขึ้น เช่น ไขมัน แป้ง ข้าว เนื้อสัตว์
        นม
      </p>
      <p>
        2. ควรเคลื่อนไหวและออกกำลังกายอย่างสม่ำเสมอทุกวันหรือเกือบทุกวัน
        ให้เหนื่อยพอควรโดยหายใจกระชั้นขึ้น เช่น เดินเร็ว ถีบจักรยาน รำมวยจีน
        ลีลาศจังหวะช้า รวมทั้งงานบ้าน งานสวน เป็นต้น สะสมให้ได้อย่างน้อยวันละ 30
        นาทีอาจไม่จำเป็นต้องออกกำลังกายให้เหนื่อยมากหรือหอบ ที่ง่ายที่สุดคือ
        การเดิน
      </p>
    </div>
    <div class="bmi-desc" v-else-if="result >= 18.5 && result < 22.9">
      <h2>น้ำหนักปกติ</h2>
      <p>
        คุณมี น้ำหนักปกติ โดยทั่วไปค่าดัชนีมวลกายปกติมีค่าระหว่าง 18.50 - 22.90
      </p>
      <p><strong>ข้อแนะนำ</strong></p>
      <p>
        1. ควรกินอาหารให้หลากหลายครบ 5 หมู่ในสัดส่วนที่เหมาะสม
        กินเท่าที่ร่างกายต้องการวันไหนกินมากเกินไป วันต่อมาก็กินลดลง
        กินอาหารพวกข้าวและแป้งรวมทั้งเมล็ดธัญพืชอื่น ๆ
        ให้มากขึ้นไม่น้อยกว่าวันละ 6 ทัพพี กินผัก รวมทั้งเมล็ดถั่ว ผลไม้
        ไม่ต่ำกว่าวันละ 5 ส่วน หรือครึ่งกิโลกรัม
        เพื่อไม่ให้มีพลังงานส่วนเกินจะทำให้ควบคุมน้ำหนักได้ดีและสมดุล
      </p>
      <p>
        2. ควรเคลื่อนไหวและออกกำลังกายอย่างสม่ำเสมอทุกวัน หรือเกือบทุกวัน
        อย่างน้อยให้เหนื่อยพอควร โดยหายใจกระชั้นขึ้น สะสมให้ได้อย่างน้อยวันละ 30
        นาที โดยอาจจะแบ่งเป็น 2 - 3 ครั้งก็ได้
        จะเป็นกิจกรรมออกกำลังกายที่เป็นเรื่องเป็นราวหรือการออกแรงในกิจวัตรประจำวัน
        เช่นเดินเร็ว ถีบจักรยาน ลีลาศ หรืองานบ้าน งานสวน ให้เลือกทำตามใจชอบ
        ถ้าคุณต้องการมีสมรรถภาพที่ดีก็ต้องออกกำลังกายแบบแอโรบิก เช่น เดินเร็ว ๆ
        วิ่งเหยาะ ถีบจักรยานเร็วๆ กระโดดเชือก ว่ายน้ำ เล่นกีฬา เป็นต้น
        ให้รู้สึกเหนื่อยมาก หรือหอบ อย่างน้อยวันละ 20 - 30 นาที
        อย่างน้อยสัปดาห์ละ 3 วัน ที่ง่าย ที่สุดคือ การเดิน
      </p>
    </div>
    <div class="bmi-desc" v-else-if="result >= 23 && result < 24.9">
      <h2>ท้วม / อ้วนระดับ 1</h2>
      <p>
        คุณมี น้ำหนักเกิน หรือรูปร่างท้วม
        โดยทั่วไปค่าดัชนีมวลกายปกติมีค่าระหว่าง 23 - 24.90
      </p>
      <p><strong>ข้อแนะนำ</strong></p>
      <p>
        1. ควรควบคุมอาหาร
        โดยลดปริมาณอาหารหรือปรับเปลี่ยนอาหารจากที่ให้พลังงานมากเป็นอาหารที่ให้พลังงานน้อย
        ทั้งนี้พลังงานที่ได้รับไม่ควรต่ำกว่า 1200 กิโลแคลอรีต่อวัน
        โดยลดอาหารไขมัน/ เนื้อสัตว์ อาหารผัด/ทอด ขนมหวาน เครื่องดื่มที่ใส่น้ำตาล
        แอลกอฮอล์ แต่ต้องกินอาหารให้หลากหลายในสัดส่วนที่เหมาะสม กินข้าวและแป้ง
        รวมทั้งเมล็ดธัญพืชอื่น ๆ ไม่น้อยกว่าวันละ 6 ทัพพี กินผัก
        รวมทั้งเมล็ดถั่ว ผลไม้ ไม่ต่ำกว่าวันละ 5 ส่วน หรือครึ่งกิโลกรัม
        เพื่อลดพลังงานเข้า
        ร่างกายจะได้ใช้พลังงานส่วนเกินที่สะสมอยู่ในรูปไขมันแทน
      </p>
      <p>
        2. ควรเคลื่อนไหวและออกกำลังกายแบบแอโรบิกอย่างสม่ำเสมอทุกวัน
        หรือเกือบทุกวันอย่างน้อยให้เหนื่อยพอควร โดยหายใจกระชั้นขึ้น
        สะสมอย่างน้อยวันละ 30 นาที อาจแบ่งเป็นวันละ 2 - 3 ครั้งก็ได้ เช่น
        เดินเร็ว ถีบจักรยาน เป็นต้น หากยังไม่เคยออกกำลังกายเริ่มแรกควร
        ออกกำลังเบา ๆ ที่ง่ายที่สุดคือ การเดิน ใช้เวลาน้อย ๆ ก่อน จากนั้นค่อย ๆ
        เพิ่มเวลาขึ้นในแต่ละสัปดาห์ โดยยังไม่เพิ่มความหนัก
        เมื่อร่างกายปรับตัวได้จึงค่อยเพิ่มความหนัก หรือความเหนื่อยตามที่ต้องการ
        และเพิ่มการเคลื่อนไหวร่างกายให้มากขึ้นในชีวิตประจำวัน
        เพื่อให้มีการใช้พลังงานเพิ่มขึ้น อย่างน้อยวันละ 200 - 300 กิโลแคลอรี
      </p>
      <p>
        3. ควรฝึกความแข็งแรงของกล้ามเนื้อ ด้วยการฝึกกายบริหารหรือยกน้ำหนัก
        จะช่วยเสริมให้ร่างกายมีการใช้พลังงานเพิ่มมากขึ้น ทำให้ไขมันลดลง
      </p>
    </div>
    <div class="bmi-desc" v-else-if="result >= 25 && result < 29.9">
      <h2>อ้วน / อ้วนระดับ 2</h2>
      <p>
        คุณ อ้วนแล้ว (อ้วนระดับ 2) โดยทั่วไปค่าดัชนีมวลกายปกติมีค่าระหว่าง 25 -
        29.90
      </p>
      <p><strong>ข้อแนะนำ</strong></p>
      <p>
        1.
        ควรควบคุมอาหารโดยลดปริมาณอาหารหรือปรับเปลี่ยนอาหารจากที่ให้พลังงานมากเป็นอาหารที่ให้พลังงานน้อย
        ทั้งนี้พลังงานที่ได้รับไม่ควรต่ำกว่า 1200 กิโลแคลอรีต่อวัน
        โดยลดอาหารไขมัน/เนื้อสัตว์ อาหารผัด/ทอด ขนมหวาน เครื่องดื่มที่ใส่น้ำตาล
        แอลกอฮอล์ แต่ต้องกินอาหารให้หลากหลายในสัดส่วนที่เหมาะสม
        กินข้าวและแป้งรวมทั้งเมล็ดธัญพืชอื่น ๆ ไม่น้อยกว่าวันละ 6 ทัพพี
        กินผักรวมทั้งเมล็ดถั่ว ผลไม้ไม่ต่ำกว่าวันละ 5 ส่วน
        หรือครึ่งกิโลกรัมเพื่อลดพลังงานเข้า
        ร่างกายจะได้ใช้พลังงานส่วนเกินที่สะสมอยู่ในรูปไขมันแทน
      </p>
      <p>
        2.
        ควรเคลื่อนไหวและออกกำลังกายแบบแอโรบิกอย่างสม่ำเสมอทุกวันหรือเกือบทุกวันอย่างน้อยให้เหนื่อยพอควรโดยหายใจกระชั้นขึ้น
        ประมาณ 40-60 นาทีต่อวัน หรือแบ่งเป็นวันละ 2 ครั้ง ๆ ละ 20 - 30 นาที เช่น
        เดินเร็ว ถีบจักรยาน เป็นต้น หากยังไม่เคยออกกำลังกายเริ่มแรก
        ควรออกกำลังเบา ๆ ที่ง่ายที่สุดคือ การเดิน ใช้เวลาน้อยๆ ก่อน จากนั้น ค่อย
        ๆ เพิ่มเวลาขึ้นในแต่ละสัปดาห์ โดยยังไม่เพิ่มความหนัก
        เมื่อร่างกายปรับตัวได้จึงค่อยเพิ่มความหนัก
        หรือความเหนื่อยตามที่ต้องการและเพิ่มการเคลื่อนไหวร่างกายให้มากขึ้นในชีวิตประจำวัน
        เพื่อให้มีการใช้พลังงานเพิ่มขึ้น อย่างน้อยวันละ 200 - 300 กิโลแคลอรี
      </p>
      <p>
        3. ควรฝึกความแข็งแรงของกล้ามเนื้อ ด้วยการฝึกกายบริหารหรือยกน้ำหนัก
        จะช่วยเสริมให้ร่างกายมีการใช้พลังงานเพิ่มมากขึ้น ทำให้ไขมันลดลง
      </p>
      <p>
        4. ถ้าคุณสามารถลดพลังงานเข้าจากอาหารลงได้วันละ 400 กิโลแคลอรี
        และเพิ่มการใช้ พลังงานจากการออกกำลังกายวันละ 200 กิโลแคลอรี
        รวมแล้วคุณมีพลังงาพร่องลงไปวันละ 600 กิโลแคลอรี ออกกำลังกายประมาณ 6 วัน
        คิดเป็นพลังงานพร่อง 3600 กิโลแคลอรี
        คุณจะลดไขมันลงได้ประมาณครึ่งกิโลกรัมต่อสัปดาห์ พลังงานเข้าหรือออก 3500
        กิโลแคลอรี จะเพิ่มหรือลดไขมันได้ 1 ปอนด์ หรือ 0.45 กิโลกรัม
      </p>
      <p>5. ควรปรึกษาแพทย์หรือผู้เชี่ยวชาญในการลดและควบคุมน้ำหนัก</p>
    </div>
    <div class="bmi-desc" v-else>
      <h2>อ้วนมาก / อ้วนระดับ 3</h2>
      <p>
        คุณ อ้วนมากแล้ว (อ้วนระดับ 3) โดยทั่วไปค่าดัชนีมวลกายปกติมีค่ามากกว่า 30
      </p>
      <p><strong>ข้อแนะนำ</strong></p>
      <p>
        1.
        ควรควบคุมอาหารโดยลดปริมาณอาหารหรือปรับเปลี่ยนอาหารจากที่ให้พลังงานมากเป็นอาหารที่ให้พลังงานน้อย
        ทั้งนี้พลังงานที่ได้รับไม่ควรต่ำกว่า 1200 กิโลแคลอรีต่อวัน
        โดยลดอาหารไขมัน/เนื้อสัตว์ อาหารผัด/ทอด ขนมหวาน เครื่องดื่มที่ใส่น้ำตาล
        แอลกอฮอล์ แต่ต้องกินอาหารให้หลากหลายในสัดส่วนที่เหมาะสม
        กินข้าวและแป้งรวมทั้งเมล็ดธัญพืชอื่น ๆ ไม่น้อยกว่าวันละ 6 ทัพพี
        กินผักรวมทั้งเมล็ดถั่ว ผลไม้ไม่ต่ำกว่าวันละ 5 ส่วน
        หรือครึ่งกิโลกรัมเพื่อลดพลังงานเข้า
        ร่างกายจะได้ใช้พลังงานส่วนเกินที่สะสมอยู่ในรูปไขมันแทน
      </p>
      <p>
        2.
        ควรเคลื่อนไหวและออกกำลังกายแบบแอโรบิกอย่างสม่ำเสมอทุกวันหรือเกือบทุกวันอย่างน้อยให้เหนื่อยพอควรโดยหายใจกระชั้นขึ้น
        ประมาณ 40-60 นาทีต่อวัน หรือแบ่งเป็นวันละ 2 ครั้ง ๆ ละ 20 - 30 นาที เช่น
        เดินเร็ว ถีบจักรยาน เป็นต้น หากยังไม่เคยออกกำลังกายเริ่มแรก
        ควรออกกำลังเบา ๆ ที่ง่ายที่สุดคือ การเดิน ใช้เวลาน้อยๆ ก่อน จากนั้น ค่อย
        ๆ เพิ่มเวลาขึ้นในแต่ละสัปดาห์ โดยยังไม่เพิ่มความหนัก
        เมื่อร่างกายปรับตัวได้จึงค่อยเพิ่มความหนัก
        หรือความเหนื่อยตามที่ต้องการและเพิ่มการเคลื่อนไหวร่างกายให้มากขึ้นในชีวิตประจำวัน
        เพื่อให้มีการใช้พลังงานเพิ่มขึ้น อย่างน้อยวันละ 200 - 300 กิโลแคลอรี
      </p>
      <p>
        3. ควรฝึกความแข็งแรงของกล้ามเนื้อ ด้วยการฝึกกายบริหารหรือยกน้ำหนัก
        จะช่วยเสริมให้ร่างกายมีการใช้พลังงานเพิ่มมากขึ้น ทำให้ไขมันลดลง
      </p>
      <p>
        4. ถ้าคุณสามารถลดพลังงานเข้าจากอาหารลงได้วันละ 400 กิโลแคลอรี
        และเพิ่มการใช้ พลังงานจากการออกกำลังกายวันละ 200 กิโลแคลอรี
        รวมแล้วคุณมีพลังงาพร่องลงไปวันละ 600 กิโลแคลอรี ออกกำลังกายประมาณ 6 วัน
        คิดเป็นพลังงานพร่อง 3600 กิโลแคลอรี
        คุณจะลดไขมันลงได้ประมาณครึ่งกิโลกรัมต่อสัปดาห์ พลังงานเข้าหรือออก 3500
        กิโลแคลอรี จะเพิ่มหรือลดไขมันได้ 1 ปอนด์ หรือ 0.45 กิโลกรัม
      </p>
      <p>5. ควรปรึกษาแพทย์หรือผู้เชี่ยวชาญในการลดและควบคุมน้ำหนัก</p>
    </div>
  </div>
</template>

<style scoped>
.focus-color {
  background-color: rgb(254, 205, 165);
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  font: 22px/22px "DBHeaventMd", Arial, sans-serif;
  background-color: #d9dfe8;
  color: #343434;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #343434;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.center {
  text-align: center;
}
.bmi-box {
  border: 1px solid #62ea98 !important;
  box-shadow: -9px -9px 16px rgb(255 255 255 / 80%),
    9px 9px 16px rgb(216 221 228 / 80%);
  padding: 20px;
  border-radius: 5px;
}
table {
  width: 100%;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}
table tr {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
table th {
  font: 24px/24px SarabunBd, "DBHeaventMd", Arial, sans-serif;
  /* font: 22px/22px 'DBHeaventMd', Arial, sans-serif; */
  color: #343434;
  text-align: left;
  padding: 15px;
  vertical-align: middle;
  border: 1px dotted #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}
table td {
  font-size: 24px;
  color: #343434;
  border: 1px dotted #e4e4e4;
  padding: 15px;
  vertical-align: middle;
  text-align: left;
}
.bmi-desc {
  border-top: 4px solid rgba(254, 140, 165, 0.3);
  padding: 20px;
  background: #f1f3f6;
  margin: 0 0 28px 0;
  font-size: 20px;
}
</style>
